<% provide :title,t("static_pages.home.help") %>
<!DOCTYPE html>
<html>
  <head>
    <title><%= yield :title %> | <%= t "static_pages.home.name" %></title>
  </head>
  <body>
    <h1><%= t("static_pages.home.help") %></h1>
    <p>
    <%= t("static_pages.home.help_1") %>
    <a href="http://www.railstutorial.org/help"><%= t("static_pages.home.help_2") %></a>.
    </p>
  </body>
</html>
